check-*.log
runsuite.log
typescript
original/.deps/
original/.libs/
original/.memdump
original/autom4te.cache/
original/**/.deps/
original/**/.libs/
original/**/__pycache__/
original/**/*.la
original/**/*.lo
original/**/*.o
original/**/Makefile
original/check-*.log
original/config.h
original/config.log
original/config.status
original/configure~
original/dba100000.xml
original/doc/examples/io1
original/doc/examples/io2
original/doc/examples/.memdump
original/doc/examples/parse1
original/doc/examples/parse2
original/doc/examples/parse3
original/doc/examples/parse4
original/doc/examples/reader1
original/doc/examples/reader2
original/doc/examples/reader3
original/doc/examples/reader4
original/doc/examples/testWriter
original/doc/examples/tree1
original/doc/examples/tree2
original/doc/examples/xpath1
original/doc/examples/xpath2
original/example/gjobread
original/fuzz/genSeed
original/fuzz/seed/
original/fuzz/testFuzzer
original/libtool
original/libxml-2.0-uninstalled.pc
original/libxml-2.0.pc
original/libxml2-config.cmake
original/python/tests/tmp.xml
original/run*.log
original/runsuite
original/runtest
original/runxmlconf
original/stamp-h1
original/test.out
original/testAutomata
original/testC14N
original/testHTML
original/testModule
original/testReader
original/testRegexp
original/testRelax
original/testSAX
original/testSchemas
original/testThreads
original/testURI
original/testXPath
original/testapi
original/testchar
original/testdict
original/testlimits
original/testrecurse
original/xml2-config
original/xml2Conf.sh
original/xmlcatalog
original/xmllint
original/xstc/Makefile
original/xstc/Tests/**
original/xstc/__pycache__/
original/xstc/ms-test.py
original/xstc/nist-test.py
original/xstc/sun-test.py
safe/target/
safe/Cargo.lock
safe/**/__pycache__/
